$background-image : url('../../../assets/images/black.jpg');
$white-font : #ffffff;
$color-primary-light: #f3a33b;
$color-primary-dark: #b6710a;
$color-secondary-light : rgba(29,29,29,0.65);
$color-secondary-dark : rgba(29,29,29,1);
$color-black : black;
$dark-background : #1d1d1d;
$navbar-border : #2f2f2f;
$navbar-font : #919191;